body{
    background-color: black;
    color: aliceblue;
}
table{
    border: 1px dotted white;
}
thead{
    background-color: chocolate;
}
h2{
    color: rgb(255, 102, 0);
}
table{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.email{
    text-transform: lowercase;
}
.col-2{
    width: 15%;
    border: 1px dotted white;
}
.col-1{
    width: 10%;
    border: 1px dotted white;
}
.col-3{
    width: 35%;
    border: 1px dotted white;

}